@{
    ViewData["Title"] = "Hello";
}

<div class="text-center">
    <h1 class="display-4">Greetings</h1>
    @for (int i = 0; i < 10; i++)
    {
        <p>Hello @ViewData["Name"] with age @ViewData["Age"] years!</p>
    }

    @if ((int) @ViewData["Age"] > 50)
    {
        <p>Jsi starý</p>
    }else
    {
        <p>Jsi mladý</p>
    }

</div>